

<h3>PrimeIcons use the pi pi-x syntax such as pi pi-check. A standalone icon can be displayed using an element such as i or span</h3>
<div>
    <i class="pi pi-check"></i>
    <i class="pi pi-times"></i>
</div>

<h3>Size</h3>
<div>
    <i class="pi pi-check"></i>
    <i class="pi pi-check " style="font-size: 2rem"></i>
</div>

<h3>Spinning Animation (add pi-spin)</h3>
<div>
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</div>


<h3>Constants</h3>
<div>
    <p-menu [model]="items"></p-menu>
</div>
