.layout-wrapper {
    height: 100%;

    .layout-menu {
        position: fixed;
        left: 5px;
        top: 5px;
        height: 100%;
        z-index: 100;
        width: 250px;
        overflow-y: auto;

        ::ng-deep .p-panelmenu {
            width: auto !important;
            .p-panelmenu-header > a {
                padding: 8px;
                .p-menuitem-text {
                    white-space: wrap !important;
                }
            }
        }

        ::ng-deep .p-submenu-list {
            .p-menuitem-link {
                padding: 10px;
            }
        }

    }

    .layout-content {
        padding: 5px 15px 100px 15px;
        margin-left: 250px;
    }
}
