.wrapper {
    padding: 10px;
}

::ng-deep .p-submenu-list {
    width: auto !important;
    .p-menuitem {
        .p-menuitem-text {
            width: auto;
            white-space: nowrap;
        }
    }
}
