<h1>Tree DragDrop</h1>
<p>droppableScope、droppableNodes</p>
<p>draggableScope、draggableNodes</p>


<h5>Single Tree</h5>
<p>Node reordering within a tree.</p>
<p-tree
    [value]="files1"
    [draggableNodes]="true"
    [droppableNodes]="true"
    draggableScope="self"
    droppableScope="self"
></p-tree>

<h5>Multiple Trees</h5>
<p>
    Node reordering between multiple tree based on scope constraints.
</p>
<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <h4>Files</h4>
        <p>Can transfer to Server 2.</p>
        <p-tree
            [value]="files2"
            [draggableNodes]="true"
            [droppableNodes]="true"
            droppableScope="files"
            draggableScope="server2"
        ></p-tree>
    </div>

    <div class="p-col-12 p-md-4">
        <h4>Server 1</h4>
        <p>Can transfer to Files.</p>
        <p-tree
            [value]="files3"
            [draggableNodes]="true"
            [droppableNodes]="true"
            droppableScope="server1"
            draggableScope="files"
        ></p-tree>
    </div>

    <div class="p-col-12 p-md-4">
        <h4>Server 2</h4>
        <p>Can transfer to Server 1.</p>
        <p-tree
            [value]="files4"
            [draggableNodes]="true"
            [droppableNodes]="true"
            droppableScope="server2"
            draggableScope="server1"
        ></p-tree>
    </div>
</div>
