<h1>MenuModel</h1>
<p>基本上 menu 都使用 MenuItem 的資料模型，除了 MegaMenu 是使用 MegaMenuItem。</p>

<b>MenuItem 常用的欄位，更多欄位請看官網文檔</b>
<ul>
    <li>label : 顯示文字</li>
    <li>icon : 要顯示的 icon ('pi pi-plus')</li>
    <li>routerLink : Angular 的 routing </li>
    <li>queryParams : queryParams</li>
    <li>queryParams : fragment</li>
    <li>url : 另開外部連結</li>
    <li>visible : 是否能看見</li>
    <li>disabled : 是否禁用</li>
    <li>command : 點擊後執行事件</li>
    <li>escape : true 的時候，label 可以撰寫 html 相關 tag</li>
    <li>items : 子選項，MenuItem 陣列</li>
</ul>