<h1>Card 卡片</h1>
<p>Templates 有 header、title、subtitle、content、footer</p>

<p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/showcase/images/usercard.png">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card>

<p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow p-mb-3">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/showcase/images/usercard.png">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
</p-card>

<p-card [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        Header content here
    </ng-template>
    <ng-template pTemplate="title">
        Title here
    </ng-template>
    <ng-template pTemplate="subtitle">
        Subtitle here
    </ng-template>
    <ng-template pTemplate="content">
        Body Content
    </ng-template>
    <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
</p-card>
